/**
 * @name side themes
 * @author whey69
 * @description a theme for side menu 
 * @version 0.0.1
 */

.appMount-2yBXZl,
body {
background:#000;
}

/* slight transparency for background */
.bg-1QIAus {
background-color:rgba(0,0,0,0.5)!important;
}

/* transparent regions */
.app-2CXKsg,.titleBar-1it3bQ,.applicationStore-2nk7Lo,.chat-2ZfjoI,.container-1NXEtd,.tree-3agP2X,.container-PNkimc,.contentRegion-3HkfJJ,.contentRegionScroller-2_GT_N,.notice-12Koq-,.nowPlayingColumn-1eCBCN,.pageWrapper-2PwDoS,.panels-3wFtMD,.scroller-2XLwLg,.wrapper-3HVHpV,.wrapper-15CKyy,.scroller-WSmht3,.scroller-2TZvBN,.scroller-1TOeMq,.scroller-3_YDR2,.sidebarRegionScroller-FXiQOh,.standardSidebarView-E9Pc3j,.wrapper-1Rf91z,.container-1oAagU,.wrapper-1gVUIN,.wrapper-KXM2i0 {
background:0 0!important;
}

/* slight blur for the side bar (removed) */
.wrapper-1_HaEi {
background:0!important;
}

/* background gradient */ 
body {
background-image:linear-gradient(48.17deg,var(--bg-gradient-midnight-blurple-1) 11.21%,var(--bg-gradient-midnight-blurple-2) 61.92%)!important; 
}

/* the username display at the bottom */
.container-YkUktl {
height:53px!important;
position:relative;
top:1px;
}
